.search-icon-submit {
  cursor: pointer;
  --fa-animation-duration: 5s;
}

.title-home {
  font-size: 28px;
  font-weight: 600;
  color: var(--white-color-2);
}

.input-city {
  margin-top: 5px;
  margin-bottom: -3px;
}
